<div class="col-md-6 col-xl-4 d-flex">
    <div class="card text-white {% if task.isDone %} task-ok {% endif %} flex-fill m-3" data-task-id="{{ task.id }}" id="card" >
        <div class="card-header d-flex justify-content-between">
            <div>
                {% if task.user == null %}
                    <span class="badge bg-light text-secondary">
                        Anonymous
                    </span>
                    
                {% else %}
                    <span class="badge bg-light text-secondary">
                        {{ task.user.username }}
                    </span>
                {% endif %} 
            </div>
            <p style="font-size: 0.8rem;">{{ task.createdAt|date('d/m/Y H:i:s') }}</p>
            <span class="status-picto shadow" data-task-id="{{ task.id }}">
                {% if task.isDone %}
                <img src="img/todo-and-co-logo-blue.svg" width="100%">
                {% else %}
                <img src="img/todo-and-co-cross.svg" width="100%">
                {% endif %}
            </span>
        </div>
        <div class="card-body d-flex flex-column">
            <div class="d-flex">
                <p class="my-0 me-2">
                    Priority:
                </p>
                <div class="priority m-0">
                    <span class="star {{ task.priority >= 1 ? 'filled' : '' }}" data-rating="1">★</span>
                    <span class="star {{ task.priority >= 2 ? 'filled' : '' }}" data-rating="2">★</span>
                    <span class="star {{ task.priority >= 3 ? 'filled' : '' }}" data-rating="3">★</span>
                </div>
            </div>
            {% if task.deadline %}
            <p class="text-warning my-0">
                Deadline: {{ task.deadline|date('d/m/Y') }}
            </p>  
            {% endif %}
            <h5 class="mt-3"><a href="{{ path('task_edit', {'id' : task.id }) }}" class="text-white text-decoration-none fw-bolder">{{task.title|capitalize}}</a></h5>
            <p class="card-text">
                {{task.content}}
            </p>
            <div class="d-flex mt-auto">
                <button class="btn btn-success btn-sm mb-1 me-2 toggle" data-task-id="{{ task.id }}" data-is-done="{{ task.isDone ? 1 : 0 }}">
                    {% if task.isDone %}Mark as to do{% else %}Mark as done{% endif %}
                </button>                    
                {% if is_granted("TASK_MODIFY", task) %}
                <a href="{{ path('task_delete', {'id': task.id}) }}" class="link-danger ms-2 mt-1 text-decoration-none fw-bold">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>