{% extends 'base.html.twig' %}

{% block head_title %}
task create
{% endblock %}

{% block body %}
<main class="container d-flex flex-column">

    <div class="px-4 m-3 text-center border-bottom shadow-bottom">
        <h1 class="display-4 fw-bold">Create a task</h1>
        <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    Here you can create a task!
                </p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="{{ asset('img/todo-banner-2.png') }}" class="img-fluid rounded-3 mb-4" alt="Example image"
                    width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>

    <a href="{{ path('tasks_list') }}" class="btn btn-todo-1 m-3 mx-auto">Back to task list</a>

    <div class="container my-3 task">
        
        {{ form_start(form, {'action' : path('task_create')}) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success mt-3">Create</button>

        {{ form_end(form) }}
       
    </div>

</main>

{% endblock %}

{% block javascript %}

<script>
    $(document).ready(function () {
        $('input[name="{{ form.checkbox_field.vars.full_name }}"]').change(function () {
            if ($(this).is(':checked')) {
                $('#conditional-field').toggleClass("d-none");
                $('#conditional-field input').attr('required', "true");
            } else {
                $('#conditional-field').toggleClass("d-none");
                $('#conditional-field input').removeAttr('required', "true");
            }
        });
    });
</script>

{% endblock %}