{% extends 'base.html.twig' %}

{% block head_title %}
task create
{% endblock %}

{% block body %}
<main class="container d-flex flex-column">

    {#<div class="row p-4 align-items-center rounded-3 border m-3 bg-gradient">
        <div class="col-lg-7 p-3 text-center">
            <h1 class="display-4 fw-bold lh-1">
                Create a Task
            </h1>
            <p class="lead">
                Here you can create a task!
            </p>
        </div>
        <div class="col-lg-4 text-center">
            <img class="rounded-lg-3" src="{{ asset('img/todo-banner.png') }}" alt="" width='100%'>
        </div>
    </div>#}

    <div class="px-4 m-3 text-center border-bottom shadow-bottom">
        <h1 class="display-4 fw-bold">Create a task</h1>
        <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">
                    Here you can create a task!
                </p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="{{ asset('img/todo-banner-2.png') }}" class="img-fluid rounded-3 mb-4" alt="Example image"
                    width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>

    <a href="{{ path('tasks_list') }}" class="btn btn-todo-1 m-3">Back to task list</a>

    <div class="container my-3">
        <div class>
            {{ form_start(form, {'action' : path('task_create')}) }}

            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success mt-3">Create</button>

            {{ form_end(form) }}
        </div>
    </div>

</main>

{% endblock %}