{% extends 'base.html.twig' %}

{% block head_title %}
Edit a user   
{% endblock %}

{% block body %}
<main class="container d-flex flex-column">

    <div class="px-4 m-3 text-center border-bottom shadow-bottom">
        <h1 class="display-4 fw-bold">Edit the user "<strong>{{ user.username }}</strong>"</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Here you can edit a user!</p>
        </div>
        <div class="overflow-hidden" style="max-height: 30vh;">
            <div class="container px-5">
                <img src="{{ asset('img/todo-banner-2.png') }}" class="img-fluid rounded-3 mb-4" alt="Example image"
                    width="700" height="500" loading="lazy">
            </div>
        </div>
    </div>

    <a href="{{ path('user_list') }}" class="btn btn-todo-1 my-3 mx-auto">
        Back to user list
    </a>

    <div class="container task mb-3">

        {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-success mb-3">Modify</button>

        {{ form_end(form) }}

    </div>

</main>

{% endblock %}